body {
  background-image: url("../assets/groovy-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5rem;
}

section {
  font-family: "Indie Flower", cursive;
  min-height: 100%;
  width: 100%;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 2rem;
  background-color: gray;
  border-radius: 8px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
h3 {
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
}

.container p {
  font-size: 3rem;
  font-weight: 300;
  color: white;
  text-align: justify;
 
}

button {
  margin-top: 2rem;
  width: fit-content;
  font-size: 2rem;
  padding: 2rem;
  background-color: rgb(94, 92, 92);
  border-color: rgb(15, 164, 205);
  color: rgb(0, 0, 0);
  border-radius: 4px;
  align-self: flex-end;
   font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
}
